#nav{
    background-color: rgb(51, 53, 55);
    height: 150px;
}

#left-section{
    background-color: rgb(201, 201, 201);
    width: 140px;
    height: calc(100vh - 150px);
}
main{
    display: flex;
    justify-content:space-evenly
}

#center-section{
    width: calc(100vw - 280px);
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: calc(100vh - 150px);
}

#center-bottom-section{
    height: 100px;
    width: 100%;
    background-color: rgb(51, 53, 55);
}

#right-section{
    width: 140px;
    background-color: rgb(201, 201, 201);
    height: calc(100vh - 150px);
}