* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#top-div{
    width: 95%;
    height: 24vh;
    border: solid 4px black;
    margin-top: 19px;
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

#middle-div{
    width: 95%;
    height: 32vh;
    border: dotted 4px black;
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#yellow-div{
    background-color: rgb(255, 246, 180);
    width: 90%;
    height: 70%;
    box-shadow: 6px 6px 7px black;
}



#purple-shape {
    background-color: rgb(113, 20, 179);
    width: 45px;
    height: 75%;
}

#lightblue-circle{
    min-width: 155px;
    min-height: 155px;
    background-color: rgb(113, 194, 218);
    border-radius: 50%;
    margin-left: 45px

}

#green-shape{
    background-color: green;
    width: 300px;
    height: 100%;
    margin-left: 45px
}

#bottom-div{
    width: 50%;
    height: 33vh;
    margin-top: 19px;
    border: solid 2px lightgray;
    box-shadow: 2px 2px 2px lightgray;
    display: flex;
    justify-content: center;
}

#text-container{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hello-text{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    letter-spacing: 10px;
    line-height: 30px;
}