@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');



.fill-white{
    background-color: white;
}
#logoimg{
    width: 220px;
    margin-right: 20px;
}

#shopContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#hamburger{
    width: 25px;
}

#header{
    min-width: 100%;
    height: 60px;
    position:fixed;
}

#navContainer{
    display: flex;
    flex-direction: row;
    width: 95%;
    max-width: 1400px;
    height: 60px;
    align-items: flex-end;
    justify-content: space-between;
margin: 0 auto;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    
}



#nav-links, a{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

#nav-links a:hover{
    text-decoration: underline 1px white solid;
}

#currentMissionHero{
    background-image: url('./images/spaceXtop.jpeg');
    max-width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x:center;
    display:flex;
    align-items: flex-end;
}

#heroText{
    min-width: 35vw;
    max-width: 500px;
    margin-left: 13vw;
    margin-bottom: 130px;
}

#heroSectionText{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-stretch: extra-condensed;
    font-size: 45px;
}

#currentMission{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 10px;
}
#rewatchBtn{
    width: 195px;
    height: 50px;
    color: white;
    background-color: rgba(23,23,23,0);
    border: 2px white solid;
    margin-top: 40px;
}

#rewatchBtn:hover{
    color: black;
    background-color: white;
}

#completedMissionHero{
    background-image: url("./images/spaceHero2.jpeg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:top;
    background-position-x:center;

    display:flex;
    align-items: flex-end;
}

#starlinkMissionHero{
    background-image: url("./images/starlinkLaunch.jpeg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x:center;

    display:flex;
    align-items: flex-end;
}

#inspiration4ReturnsHero{
    background-image: url("./images/inspiration4.jpeg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x:center;

    display:flex;
    align-items: flex-end;
}

#missionExtraText{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px;
}

#nasaOnMoonHero{
    background-image: url("./images/starshipToMoon.jpeg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x:center;

    display:flex;
    align-items: flex-end;
}

#footer{
    height: 100px;
    width: 100%;
    background-color: rgb(8, 7, 15);

        display: flex;
        flex-direction: row;
        top: 0px;
        width: 100%;
        align-items: center;
        justify-content: center;
}

#footer-nav-links{
    width: 100%;
    display: flex;
    justify-content: center;
}
.copyright{
    color: darkgray;
    font-weight: 300;
}